<div style="border:solid 1px red">
    <select id="Item" class="form-control-sm" @bind="@item">
        @foreach (var l in list)
        {
            @if (item != null && String.Equals(l, item,
StringComparison.OrdinalIgnoreCase))
            {
                <option selected value="@l">@l</option>
            }
            else
            {
                <option value="@l">@l</option>
            }
        }
    </select>

</div>
@*<p>@item</p>*@

@code {
    public IEnumerable<string> list = new List<string>()
{
        "1",
        "2",
        "3",
        "4",
        "5"
     };

    private string item { get; set; }

    [Parameter]
    public string Item
    {
        get { return item; }
        set
        {
            if (item != value)
            {
                item = value;
                if (ItemChanged.HasDelegate)
                {
                    ItemChanged.InvokeAsync(value);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> ItemChanged { get; set; }
}